[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "*"
pandas = "*"
gunicorn = "*"
dash-daq = "*"
joblib = "*"
category-encoders = "*"
scikit-learn = "==0.22.1"

[requires]
python_version = "3.7"
